# see http://editorconfig.org/
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{md,markdown}]
trim_trailing_whitespace = false

[*.html]
indent_style = space
indent_size = 2

[*.{css,less}]
indent_style = space
indent_size = 2

[*.{js,ts}]
indent_style = space
indent_size = 2

[*.php]
indent_style = space
indent_size = 4

[*.hs]
indent_style = space
indent_size = 4

[{*.rb,Rakefile}]
indent_style = space
indent_size = 2

[*.java]
indent_style = space
indent_size = 2

[*.fish]
indent_style = space
indent_size = 4

[*.rs]
indent_style = space
indent_size = 4

[*.{yaml,yml}]
indent_style = space
indent_size = 2
